.TypesTitle {
  position: relative;
  font-size: 14px;
  color: #93999F;
  letter-spacing: 0.6px;
  line-height: 36px;
  text-align: center; }
  .TypesTitle h3 {
    display: inline-block; }
  .TypesTitle .IconTitLeft {
    margin-right: 24px;
    display: inline-block;
    background-size: 100%; }
  .TypesTitle .IconTitRight {
    margin-left: 24px;
    display: inline-block;
    background-size: 100%; }
  .TypesTitle p {
    display: inline;
    font-size: 20px;
    font-weight: 600;
    color: #4D555D;
    margin: 0 3px; }
  .TypesTitle span {
    width: 56px;
    height: 36px; }

.IconTit0 {
  vertical-align: bottom;
  background: url("/home/abcd/immoc_react/src/img/xuebi_types.png") no-repeat;
  background-position: center 0px; }

.IconTit1 {
  vertical-align: bottom;
  background: url("/home/abcd/immoc_react/src/img/xuebi_types.png") no-repeat;
  background-position: center -36px; }

.IconTit2 {
  vertical-align: bottom;
  background: url("/home/abcd/immoc_react/src/img/xuebi_types.png") no-repeat;
  background-position: center -72px; }

.IconTit3 {
  vertical-align: bottom;
  background: url("/home/abcd/immoc_react/src/img/xuebi_types.png") no-repeat;
  background-position: center -108px; }

.IconTit4 {
  vertical-align: bottom;
  background: url("/home/abcd/immoc_react/src/img/xuebi_types.png") no-repeat;
  background-position: center -144px; }

.IconTit5 {
  vertical-align: bottom;
  background: url("/home/abcd/immoc_react/src/img/xuebi_types.png") no-repeat;
  background-position: center -180px; }

.IconTit6 {
  vertical-align: bottom;
  background: url("/home/abcd/immoc_react/src/img/xuebi_types.png") no-repeat;
  background-position: center -216px; }

.IconTit7 {
  vertical-align: bottom;
  background: url("/home/abcd/immoc_react/src/img/xuebi_types.png") no-repeat;
  background-position: center -252px; }

.IconTit8 {
  vertical-align: bottom;
  background: url("/home/abcd/immoc_react/src/img/xuebi_types.png") no-repeat;
  background-position: center -288px; }

.IconTit9 {
  vertical-align: bottom;
  background: url("/home/abcd/immoc_react/src/img/xuebi_types.png") no-repeat;
  background-position: center -324px; }

.IconTit10 {
  vertical-align: bottom;
  background: url("/home/abcd/immoc_react/src/img/xuebi_types.png") no-repeat;
  background-position: center -360px; }

.IconTit11 {
  vertical-align: bottom;
  background: url("/home/abcd/immoc_react/src/img/xuebi_types.png") no-repeat;
  background-position: center -396px; }

.IconTit12 {
  vertical-align: bottom;
  background: url("/home/abcd/immoc_react/src/img/xuebi_types.png") no-repeat;
  background-position: center -432px; }

.IconTit13 {
  vertical-align: bottom;
  background: url("/home/abcd/immoc_react/src/img/xuebi_types.png") no-repeat;
  background-position: center -468px; }

.IconTit14 {
  vertical-align: bottom;
  background: url("/home/abcd/immoc_react/src/img/xuebi_types.png") no-repeat;
  background-position: center -504px; }

.IconTit15 {
  vertical-align: bottom;
  background: url("/home/abcd/immoc_react/src/img/xuebi_types.png") no-repeat;
  background-position: center -540px; }

.IconTit16 {
  vertical-align: bottom;
  background: url("/home/abcd/immoc_react/src/img/xuebi_types.png") no-repeat;
  background-position: center -576px; }

/*# sourceMappingURL=TypesTitle.css.map */
