//--------------吊炸天全明星-------------------
.Celebrity{
    .titleList{
        text-align: center;
        margin: 38px auto 48px;
    }
    dd{
        position: relative;
        width: 136px;
        text-align: center;
        display: inline-block;
        .photo{
            margin: 0 auto;
            position: relative;
            img{
                width: 56px;
                height: 56px;
                border-radius: 50%;
                box-shadow: 0 8px 16px 0 rgba(7, 17, 27, 0.1);
            }
        }
        .name{
            font-size: 14px;
            color: #07111B;
            line-height: 16px;
            margin-top: 8px;
        }
        .title{
            font-size: 12px;
            color: #93999F;
            font-weight: 400;
        }
    }
    //皇冠
    .crown{
        position: absolute;
        width: 26px;
        height: 18px;
        top: -16px;
        left: 54px;
    }
    @for $e from 0 through 3 {
    .crown_#{$e}{
            background: url("/img/Crown.png") no-repeat;
            background-position:center ($e*-18px);
            background-size: 100%;
    }
}
}