.Title2{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    .TitleCard
    {
        // overflow: hidden;
        // display: inline-block;
        h3
        {
            z-index: 50;
            font-size: 20px;
            font-weight: 700;
            color: #FFFFFF;
            letter-spacing: 2px;
            line-height: 28px;
            text-shadow: 0 2px 2px rgba(7, 17, 27, 0.4);
        }
        p
        {
            z-index: 50;
            font-size: 12px;
            color: #FFFFFF;
            line-height: 16px;
            text-shadow: 0 2px 2px rgba(7, 17, 27, 0.4);
            margin-top: 4px;
        }
        .card
        {
            position: relative;
            float: left;
            width: 567px ;
            height: 108px;
            border-radius: 8px;
            padding: 30px 0;
            box-sizing: border-box;
            text-align: center;
            margin: 18px 0;
            .linear
            {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 0;
                width: 567px ;
                height: 108px;
                background: rgba(7, 17, 27, 0.4);
                border-radius: 8px;
            }
        }
    }
}
@for $t from 1 through 6{
    .card#{$t}{
        z-index: 10;
        position: relative;
        background-image:url("/img/title"+$t+".jpg");
        background-size: 100%;
    }
}