//--------------------------------全局设置--------------------------------
body,html{
    height: 100%;
    width: 100%;
    min-width: 1200px;
    padding: 0px;
    margin: 0px;
    font: 14px/1.5 "PingFang SC", "微软雅黑", "Microsoft YaHei", Helvetica, "Helvetica Neue", Tahoma, Arial, sans-serif;
    color: #1c1f21;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: #4D555D;
    font-weight: 400;
}
.ContainerTypesClearFix
{
    width: 1152px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 36px 0 48px;
}
//----------------------------------媒体查询--------------------------

@media screen and(max-width:1340px)
{
    #left_text{
        li
        {
            transition: 0.3s;
            &:hover
            {
                transition: 0.3s;
                 color: #1c1f21;
            }
            float: left;
            line-height: 70px;
            height: 70px;
            padding: 0 8px !important;
            font-size: 16px;
            a
            {
                color:#1c1f21;
            }
        }
    }
    .search_area{
        width:180px !important;
        transition: 0.3s;
    }
    }
@media screen and(max-width:1210px)
{
    .search_warp{
        display: none;
    }
}
//-----------------------------------------------------------------------------------



